<h1>Editing Submarine</h1>

<% if user_signed_in? %>
  <%= render 'form', submarine: @submarine %>
  <%= link_to 'Back', submarines_path %>
  <%= link_to 'Show', @submarine %>
<% else %>
  <%= link_to "Log In", new_user_session_path %>
<% end %>
